main {
	background-color: red;
	width: 67.5rem;
	margin-top: ;
}

.popular-section {
	background-color: blue;
	height: ;
}

.popular-content {
	heigh:
}

.places-section {
	background-color: green;
	height: ;
}

.places-content {
	height: ;
}


