main {
	background-color: red;
	width: 67.5rem;
    margin-top: 5rem;
}

.popular-section {
	background-color: blue;

}

.popular-content {

}

.places-section {
	background-color: green;

}

.places-content {

}


